<div>
  <div class="submit-form" [formGroup]="form">
    @if (!submitted) {
      <app-input-group label="License Plate"
                       formControlName="LicensePlate"
      />

      <app-input-group label="Employee ID"
                       formControlName="EmployeeId"
      />

      <app-button (click)="saveCar()" color="success">Submit</app-button>
    } @else {
      <h4>Car was submitted successfully!</h4>
      <app-button (click)="newCar()" color="success">Add</app-button>
    }
  </div>
</div>
